.about {
  padding: 9rem 10%;
}

.about .informacoes-about {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.about .informacoes-about .text-about p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 20px;
  color: var(--cor-text);
  text-align: left;
}

.about .informacoes-about .buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
}

.about-img {
  width: 40%;
  margin-left: 80px;
}

img {
  width: 50%;
}