.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  z-index: 1000;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 10%;
}

.menu-toggle {
  display: none;
}

.header .hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
  padding: 16px;
  border-radius: 6px;
}

.header .hamburguer:hover {
  background-color: var(--cor-primaria);
  transition: 0.5s;
}

.header .hamburguer span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: var(--cor-branca);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* TRANSFORMANDO O HAMBURGER EM "X" */
.menu-toggle:checked + .hamburguer span:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
  
}

.menu-toggle:checked + .hamburguer span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .hamburguer span:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* ESTILO DO  NAV */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sombra-urbana);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  z-index: 999;
}

.nav ul {
  list-style: none;
  text-align: left;
  margin-left: 180px;
}

.nav ul li {
  margin: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: var(--cor-branca);
  font-size: 2rem;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #5FB2D8;
}

/* Mostra o menu quando o checkbox está marcado */
.menu-toggle:checked ~ .nav {
  transform: translateY(0);
}

.hamburguer span.alterado {
  background-color: var(--cor-branca);
}

.menu-toggle:checked + .hamburguer:hover span{
  scale: none;
}

.header .hamburguer:hover span {
  scale: .8;
  background-color: var(--cor-branca);
}

.header label.fundo {
  background-color: var(--sombra-urbana);
}