@media(max-width: 820px) {
  header.header {
    padding: 16px 10%;
  }

  .header .container-header {
    margin: 12px 0;
  }

  section.about .about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  section.about .about-img {
    margin: 40px 0;
    text-align: center;
  }

  section.about .informacoes-about,
  section.about .about-img {
    width: 100%;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
  }

  .cards-expertise .cards .card {
    width: 100%;
  }

  .social-container .social nav {
    width: 100%;
  }
}

@media(max-width: 480px) { 
  .description {
    padding: 0 1.6rem;
  }

  .nav {
    margin-inline: 15px;
    justify-content: space-between;
  }

  .nav ul {
    padding-right: 32px;
  }

  section.works .container-works {
    gap: 20px;
  }

  .button {
    padding: 40px 20px;
    width: 100%;
  } 

  .footer .social-container {
    padding: 1.6rem;
  }

  .footer .btn-social {
    width: 90vw;
    padding: 4rem;
  }

  .footer .social .btn-btn-social {
    margin: 40px auto;
  }
}
