.works .container-works {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.works .container-works .work {
    margin-bottom: 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: relative;
}
    
    .works .container-works .work img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        width: 100%;
        height: 100%;
        
    }
    
    .works .container-works .work .informacoes-work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        background-color: var(--cor-fundo-escuro);
        color: var(--cor-branca);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }

    .works .container-works .work:hover .informacoes-work {
        color: var(--cor-branca);
    }


.works .container-works .work:hover,
.works .container-works .work:hover .informacoes-work {
    opacity: 0.9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.works .container-works .work .informacoes-work a:hover {
    color: var(--cor-secundaria);
}

.works .container-works .work .informacoes-work p,
.works .container-works .work .informacoes-work a:nth-child(1) {
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.works .container-works .work h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}