.about {
  background-color: var(--cor-branca);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .section-title h2 {
  color: var(--cor-fundo-escuro);
}

.about .informacoes-about {
  display: flex;
  align-items: center;
  width: 50%;
}

.about .informacoes-about .text-about p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 20px;
  color: #555b69;
  text-align: left;
}

.about .informacoes-about .buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
}

.about-img {
  display: flex;
  justify-content: center;
  width: 40%;
  height: auto;
  margin-left: 80px;
}

.buttons a {
  color: #555b69;
}

.reviews {
  padding-top: 10rem;
}

.reviews .eapps-widget-toolbar {
  display: none;
}