html {
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}

main {
  padding-top: 112px;
}

body {
  font-family: var(--fonte-texto);
  font-size: var(--fonte-m);
  font-weight: 400;
  color: var(--cor-branca);
  background-color: #050505;
}

.container {
  min-width: 100%;
  padding: 100px 56px 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.section {
  padding: 0;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 40px;
}

.section-title h2 {
  font-family: var(--fonte-titulo);
  font-size: 2.8rem;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: var(--cor-branca);
}

.decorBar {
  width: 180px;
  height: 2px;
  background-color: var(--cor-secundaria);
}

.button {
  padding: 24px 60px;
  border-radius: 100px;
  font-size: var(--fonte-normal);
  font-weight: 400;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid var(--cor-primaria);
  color: var(--cor-branca);
  margin-top: 40px;
  transition: 0.7s;
  position: relative;
  overflow: hidden;
}

.button span,
.button i {
  position: relative;
}

.button::before {
  content: '';
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  width: 0;
  height: 0;
  position: absolute;
  top: var(--eixoY);
  left: var(--eixoX);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width .8s, height .8s;
}

.button i {
  margin-right: 8px;
}
.button:hover::before {
  width: 1000px;
  height: 1000px;
  transition: width 0.8s, height 0.8s;  
}

.button:hover {
  color: var(--cor-branca);
}