@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

html, body {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

main {
  padding-top: 112px;
}

body {
  font-family: var(--fonte-texto);
  font-size: var(--fonte-m);
  font-weight: 400;
  line-height: var(--altura-linha);
  letter-spacing: var(--espaco-letras);
  color: var(--cor-branca);
  background-color: #050505;
}

.whatsapp-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 200;
}

.whatsapp-button i {
  color: var(--high-pure);
  font-size: 3.2rem;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}

.container {
  min-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.section {  
  padding: 10rem 24rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 40px;
}

.section-title h2 {
  font-family: var(--fonte-titulo);
  font-size: 4.8rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: var(--cor-branca);
}

.decorBar {
  width: 180px;
  height: 2px;
  background-color: var(--cor-secundaria);
}

.button {
  padding: 24px 60px;
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid var(--cor-primaria);
  color: var(--cor-branca);
  margin-top: 40px;
  transition: 0.7s;
  position: relative;
  overflow: hidden;
}

.button i {
  font-size: 2.5rem;
}

.button span,
.button i {
  position: relative;
}

.button::before {
  content: '';
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  width: 0;
  height: 0;
  position: absolute;
  top: var(--eixoY);
  left: var(--eixoX);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width .8s, height .8s;
}

.button i {
  margin-right: 16px;
}

.button:hover {
  color: var(--cor-branca);
}

.button:hover::before {
  width: 1000px;
  height: 1000px;
  transition: width 0.8s, height 0.8s;  
}