.header {
  position: fixed;
  font-family: var(--fonte-titulo);
  font-weight: 500;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 24rem;
  z-index: 10;
  transition: 0.5s;
}

/* Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.header-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container para sobrepor as imagens */
.logo-container {
  position: relative;
  width: 80px;
  height: 65px;
}

/* Ambas as imagens devem ocupar o mesmo espaço */
.logo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

/* ===== MENU DESKTOP ===== */
.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: var(--cor-branca);
  font-size: 20px;
  transition: 0.3s;
}

.nav-list a:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 12px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

/* ===== MENU MOBILE ===== */
.mobile-menu {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 18px 12px;
  border-radius: 50%;
  background-color: var(--cor-branca);
  cursor: pointer;
  gap: 5px;
  z-index: 1100; /* Mantém o menu sobre os outros elementos */
}

.mobile-menu span {
  display: block;
  width: 32px;
  height: 3px;
  background: var(--cor-primaria);
  transition: 0.3s;
  border-radius: 4px;
}

/* Animação do hambúrguer */
.header-content .mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.header-content .mobile-menu.active .line2 {
  opacity: 0;
  width: 0px;
  transition: all 0.5s;
}
.header-content .mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -5px);
}

header.scrolled {
  background-color: var(--cor-branca);
  color: var(--cor-primaria);
}

header.scrolled .mobile-menu {
  background-color: var(--cor-primaria);
}

header.scrolled .mobile-menu span {
  background-color: var(--cor-branca);
}

header.scrolled .nav-list a {
  color: var(--cor-primaria);
}

header.scrolled .nav-list a:hover {
  color: var(--cor-branca);
}