@media (max-width: 1440px) {
  section.section,
  .hero,
  .service-description,
  .gallery,
  .cta-servico,
  section.schedule {
    padding: 10rem 16rem;
  }

  header.header {
    padding: 2rem 16rem;
  }

  header .buttons-header {
  margin-left: 0px;
}

  .cards-works .interface .card-work {
    width: 100%;
    height: 480px;
  }

  .cards-works .interface .card-work .img {
    width: 100%;
  }
  
  .cards-works .interface .card-work .content {
    width: 60%;
  }

  .form-container form {
    width: 100%;
  }

  .social-container .social nav {
    width: 60%;
    justify-content: space-between;
  }

  .social-container .social nav ul {
    width: 100%;
  }
}

@media(max-width: 1024px) {
  section.section,
  .hero,
  .service-description,
  .gallery,
  .cta-servico,
  section.schedule {
    padding: 10rem 8rem;
  }

  header.header {
    padding: 2rem 8rem;
  }

  .next-section {
    visibility: hidden;
  }
  
  header .mobile-menu {
    display: flex;
  }

  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-primaria);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-list li {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    border-bottom: 2px solid #ffffff50;
  }

  header.scrolled .nav-list a {
    color: var(--cor-branca) !important;
    transition: 0.4s;
  }  

  header .buttons-header {
    margin-left: 0;
    margin-top: 40px;
  }

  header .nav-list {
  flex-direction: column;
}
  
  /* Classe para exibir o menu */
  .nav-list.active {
    transform: translateX(0);
  }
  
  section.about .about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  section.about .about-img {
    margin: 40px 0;
    text-align: center;
  }

  section.about .informacoes-about,
  section.about .about-img {
    width: 100%;
  }

  .card-wrapper .card-list {
    height: 640px;
  }

  .cards-works .interface .card-work {
    display: flex;
    flex-direction: column;
    height: 680px;
    width: 100%;
    justify-content: center;
  }

  .works .interface .card-work .content {
    width: 100%;
    padding-inline: 15px;
    margin-top: 32px;
  }

  .works .interface .card-work .content .btn-card {
    padding: 1.7rem;
  }

  .container .chamada p {
    width: 60%;
  }

  footer.footer {
    padding: 10rem 8rem 1rem;
  }

  .social-container .social nav {
    width: 80%;
  }
}

@media screen and (max-width: 820px) {
  section.schedule {
    padding: 0;
  }
  section.section,
  .hero,
  .service-description,
  .gallery,
  .cta-servico,
  .schedule .section-title,
  .schedule .container h3 {
    padding: 8rem 6rem;
  }

  header.header {
    padding: 2rem 6rem;
  }

  section.letter-banner {
    height: 560px;
  }

  .card-wrapper {
    margin: 0 10px 25px;
  }  

  .interface .card-work .content .buttons {
    flex-direction: column;
    gap: 24px;
  }

  .card-wrapper .card-list {
    height: 560px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }

  .container .chamada p {
    width: 75%;
  }
  
  footer.footer {
    padding: 8rem 6rem 1rem;
  }

  .social-container .social nav {
    width: 100%;
  }

  .description-container {
    flex-direction: column;
    gap: 40px;
  }

  .included,
  .process {
    width: 100%;
  }

  .process {
    padding-top: 40px;
  }

  .cta-container {
    flex-direction: column-reverse;
  }

  .front-content,
  .img-content{
    width: 100%;
    align-items: center;
  }

  .cta-container{
  padding: 2.8rem 1.5rem;
  background-image:  linear-gradient(to top, #094C7E, #094C7E0a );
}

form button {
  width: 100%;
  padding: 16px 24px;
}

  .gallery h2,
  .service-description h2,
  .front-content h2{
    width: 100%;
    font-size: 3.8rem;
  }

  .service-description li,
  .hero-description p{
    font-size: var(--fonte-m);
  }
}

@media(max-width: 520px) {
  section.section,
  .hero,
  .service-description,
  .gallery,
  .cta-servico,
  .schedule .container h3 {
    padding: 4rem 1.5rem;
  }

  .schedule {
  padding: 4rem 0;
  }

  header.header {
    padding: 2rem 4rem;
  }

  section.letter-banner,
  .hero-servico {
    height: 620px;
  }

  .container {
    max-width: 100vw;
  }

  h1.title-banner,
  .hero-description h1 {
    font-size: 3.8rem;
  }

  p.banner-description {
    font-size: 1.6rem;
  }

  header .header-content .logo-container {
    width: 75px;
    height: 62px;
  }

  .description {
    padding: 0 1.6rem;
  }

  a.button {
    width: 100%;
    padding: 8px 16px;
  }

  .swiper .card-wrapper {
    margin: 0 0 35px;
  }

  .cards-works .interface .card-work {
    width: 100%;
    justify-content: center;
  }

  .container form {
    width: 100%;
  }

  .container .chamada p {
    width: 95%;
  }

  section.about .about-img {
    width: 60%;
  }

  .schedule .container .section-title {
    padding: 0 1.5rem;
  }

  .schedule .container h3 {
    padding: 4rem 1.5rem;
  }

  footer.footer {
    padding: 6rem 1.5rem 1rem;
  }

  .footer .social-container {
    padding: 1.6rem;
  }

  .footer .btn-social {
    width: 100%;
  }

  .footer .social .btn-btn-social {
    margin: 40px auto;
  }

  .footer .social .rp-footer {
    flex-direction: column;
  }

  .gallery h2,
  .service-description h2,
  .front-content h2{
    width: 100%;
    font-size: 3.2rem;
  }

  .service-description li,
  .hero-description p{
    font-size: var(--fonte-m);
  }
}