html,
body {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

main {
  padding-top: 112px;
}

/* ===== BODY ===== */

body {
  font-family: var(--fonte-texto);
  font-size: var(--fonte-m);
  font-weight: 400;
  line-height: var(--altura-linha);
  letter-spacing: var(--espaco-letras);
  color: var(--cor-branca);
  background-color: var(--cor-branca);
}

.container {
  min-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.section {
  padding: 10rem 24rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 40px;
}

.section-title h2 {
  font-family: var(--fonte-titulo);
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: var(--cor-primaria);
}

.decorBar {
  width: 180px;
  height: 2px;
  background-color: var(--cor-secundaria);
}

.button {
  padding: 24px 60px;
  border-radius: 100px;
  font-size: var(--fonte-normal);
  font-weight: 400;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid var(--cor-primaria);
  color: var(--cor-branca);
  margin-top: 40px;
  transition: 0.7s;
  position: relative;
  overflow: hidden;
}

.button span,
.button i {
  position: relative;
}

.button::before {
  content: '';
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  width: 0;
  height: 0;
  position: absolute;
  top: var(--eixoY);
  left: var(--eixoX);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width .8s, height .8s;
}

.button i {
  margin-right: 8px;
}

.button:hover::before {
  width: 1000px;
  height: 1000px;
  transition: width 0.8s, height 0.8s;
}

/*== HEADER ==*/

.header {
  position: relative;
  font-family: var(--fonte-titulo);
  font-weight: 500;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 24rem;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 12px -1px var(--cor-fundo-cinza-claro);
  z-index: 10;
  transition: 0.5s;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.header-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* Container para sobrepor as imagens */
.logo-container {
  position: relative;
  width: 80px;
  height: 65px;
}

.header-content nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* ===== MENU DESKTOP ===== */

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: var(--cor-primaria);
  font-size: 20px;
  transition: 0.3s;
}

.nav-list a:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 10px 24px;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
}

/* ===== MENU MOBILE ===== */
.mobile-menu {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 18px 12px;
  border-radius: 50%;
  background-color: var(--cor-branca);
  cursor: pointer;
  gap: 5px;
  z-index: 1100;
  /* Mantém o menu sobre os outros elementos */
}

.mobile-menu span {
  display: block;
  width: 32px;
  height: 3px;
  background: var(--cor-primaria);
  transition: 0.3s;
  border-radius: 4px;
}

/* Animação do hambúrguer */
.header-content .mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.header-content .mobile-menu.active .line2 {
  opacity: 0;
  width: 0px;
  transition: all 0.5s;
}

.header-content .mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-6px, -5px);
}

header.scrolled {
  background-color: var(--cor-branca);
  color: var(--cor-primaria);
}

header.scrolled .mobile-menu {
  background-color: var(--cor-primaria);
}

header.scrolled .mobile-menu span {
  background-color: var(--cor-branca);
}

header.scrolled .mobile-menu.active {
  background-color: var(--cor-branca);
}

header.scrolled .mobile-menu.mobile-menu.active span {
  background-color: var(--cor-primaria);
}

header.scrolled .nav-list a {
  color: var(--cor-primaria);
}

header.scrolled .nav-list a:hover {
  color: var(--cor-branca);
}

/* Responsive */

@media (max-width: 1024px) {
  .header-content nav {
    justify-content: flex-end;
  }

  .nav-list li a {
    color: var(--cor-branca);
  }
}

/* ===== SCHEDULE ===== */

.schedule_content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.schedule {
  padding: 10rem 24rem;
}

.schedule_content h3 {
  font-family: var(--fonte-text);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  color: var(--cor-text);
}

/* ===== FOOTER ===== */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cor-branca);
  background-color: var(--cor-fundo-escuro);
  padding: 10rem 24rem 1rem;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social nav {
  width: 40%;
  display: flex;
  justify-content: center;
}

.social nav ul {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social ul li a i {
  font-size: 3.2rem;
}

.social ul li a i:hover {
  transform: scale(1.3) rotate(-8deg);
}

.social .rp-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 8px;
}

.social .rp-footer img {
  width: 100%;
}

.footer .btn-social {
  text-align: center;
}

.footer .btn-social a {
  color: var(--cor-branca);
  margin: 80px 0;
  background-position: center bottom;
}

.footer .made {
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0.6);
  font-style: oblique;
  border-radius: 6px;
  text-align: center;
  transition: 0.5s;
}

.footer .btn-social,
.footer .made {
  text-align: center;
}