:root {
    --cor-primaria: #094C7E;
    --cor-secundaria: #800020;
    --sombra-urbana: #232323;
    --cor-branca: #ffffff;
    --cor-text: #333333;
    --cor-fundo-escuro: #050505;    
    --cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #c1c1c1;    
    --degrade-fundo: linear-gradient(to right, #094C7E, #094C7E0a );
  }
    
  :root {
    --fonte-texto: 'Raleway', sans-serif;
    --fonte-titulo: 'Urbanist', sans-serif;
    --fonte-exg: 5.6rem;
    --fonte-xg: 4.4rem;
    --fonte-g: 2.4rem;
    --fonte-m: 1.6rem;
    --espaco-letras: 0.06rem;
    --altura-linha: 1.6;
  }
  
  :root {
    --desktop-padding: 10rem 10%;
    --tablet-padding: 6rem 10%;
    --mobile-padding: 4rem 1.6rem;
  }