.works {
    background-color: #050505;
}
.cards-works {
    justify-content: center;
}

.works .container .section-title h2 {
    color: #fafafa;
}

.interface {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin-block: 80px;
}

.interface .card-work {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-between ;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #1a1a1a;
	border-radius: 12px;
	padding: 16px;
}

.interface .card-work .img {
	width: 50%;
	display: flex;
	justify-content: center;
}

.interface .card-work .img img {
	height: 100%;
	border-radius: 10px;
}

.interface .card-work .content {
	width: 40%;
	color: var(--cor-branca);
	padding-inline: 40px;
}

.interface .card-work .content h2 {
	font-family: var(--fonte-titulo);
	font-size: var(--fonte-g);
	margin-bottom: 36px;
}

.interface .card-work .content .text {
	font-size: 1.6rem;
	color: #ffffff86;
	margin-bottom: 28px;
}

.interface .card-work .content .buttons {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.interface .card-work .content .btn-card {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ffffff86;
	border-radius: 4px;
	padding: 1rem;
	cursor: pointer;
}

.interface .card-work .content .btn-card a {
	font-size: 1.6rem;
	color: #ffffff86;
}

.interface .card-work .content #meu-link:hover {
	background-color: #ffffffde;
	color: var(--cor-primaria);
	border-color: var(--cor-primaria);
}